<div class="formulario">

  <div class="row">
    <div class="col-sm-6">
      nombres
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="nombres">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      apellidos
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="apellidos" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      fechaNacimiento
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="fechaNacimiento" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      numeroPeliculas
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="numeroPeliculas" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      retirado
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="retirado" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <button (click)="hizoClickEnBotonLimpiar()">Limpiar</button>
    </div>
    <div class="col-sm-6">
      <button (click)="hizoClickEnBotonCrear()">Crear</button>
    </div>
  </div>

</div>
